@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* @font-face {
  font-family: "Shadow Into Light";
  src: url("./fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.6;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
a.visited {
  color: #8e24aa;
}
a.hover-underline a:hover {
  text-decoration: underline;
}
a.a-blue {
  color: #0060b6;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

ul {
  list-style: none;
}
